{% extends "layout.html" %}

{% block main %}
            <article>
                <section class="section swatch-white">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 text-center">
                                
                                <header class="text-center element-normal-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">Visie & Missie</h1>
                                </header>
                                
                                <div class="element-medium-top element-medium-bottom text-left">
                                    <p class="">Wij geloven in digitale rechtvaardigheid voor alle partijen. De digitale wereld heeft een nieuwe kijk op bewijs en gerechtigheid nodig. Het gaat over de (digitale) feiten van elk verhaal.
                                    <br>
                                    <br>
                                    Digitaal bewijs is overal, in de telefoon die we gebruiken, de auto die we besturen, waar je heen gaat en wie je ontmoet.
                                    <br>
                                    <br>
                                    Er is slechts een handje vol met mensen die in staat zijn om digitaal bewijsmateriaal te analyseren, interpreteren en presenteren. Gepresenteerd op de manier die solide is voor de experts, begrijpelijk voor de beginner en bruikbaar voor (juridische) adviseurs.
                                    <br>
                                    <br>
                                    Forcyd is de dekundige in het brede spectrum van Computer Forensics - eDiscovery - Cyber Security. Wij bieden gedegen advies en brengen de juiste mensen met sterke technische kennis om u te helpen feit en fictie te onderscheiden.</p>
                                </div>
                            </div>


                            <div class="col-md-12 text-center">
                                
                                <header class="text-center element-normal-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">Management</h1>
                                </header>
                                
                                <div class="row staff-list-container list-container element-short-top element-normal-bottom">
                                    <div class="col-md-4">
                                        <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle">
                                            <img src="/static/assets/images/people/image-16-normal.jpg" alt="Jane Doe" class="normalwidth">
                                            <div class="figure-caption text-center">
                                                <h3 class="figure-caption-title bordered bordered-small "><strong>Bas Sluijsmans</strong><span> | Partner</span></h3>
                                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur <strong>adipiscing</strong> elit.</p>
                                            </div>
                                        </div>
                                        <ul class="social-icons element-short-top element-short-bottom text-center">
                                            <li>
                                                <a href="page-about-me.html" target="_self" data-iconcolor="#3b5998">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle">
                                            <img src="/static/assets/images/people/image-17-normal1.jpg" alt="Jim Doe" class="normalwidth">
                                            <div class="figure-caption text-center">
                                                <h3 class="figure-caption-title bordered bordered-small "><strong>Arnold Emmink</strong><span> | Partner</span></h3>
                                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur <strong>adipiscing</strong> elit.</p>
                                            </div>
                                        </div>
                                        <ul class="social-icons element-short-top element-short-bottom text-center">
                                            <li>
                                                <a href="page-about-me.html" target="_self" data-iconcolor="#3b5998">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle">
                                            <img src="/static/assets/images/people/image-15-normal.jpg" alt="Sue Smith" class="normalwidth">
                                            <div class="figure-caption text-center">
                                                <h3 class="figure-caption-title bordered bordered-small "><strong>Jeroen Hobo</strong><span> | Partner</span></h3>
                                                <p class="figure-caption-description">Lorem ipsum dolor sit amet, consectetur <strong>adipiscing</strong> elit.</p>
                                            </div>
                                        </div>
                                        <ul class="social-icons element-short-top element-short-bottom text-center">
                                            <li>
                                                <a href="page-about-me.html" target="_self" data-iconcolor="#3b5998">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
{% endblock %}
      