{% extends "layout.html" %}

{% block main %}
            <article>
                <section class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <header class="text-center element-tall-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">Cyber Security</h1>
                                    <p class="lead">
                                        Snelle reactie op beveiligingsincidenten en datalekken om zowel bedrijfsprocessen te herstellen als veiligstelling en analyse van digitale gegevens en adequate rapportage waarmee kan worden voldaan aan wet- en regelgeving.
                                    </p>
                                </header>

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">INFO</h3>
                                                    <p class="">Snelle reactie op beveiligingsincidenten waardoor toegang is of kan worden verkregen tot bedrijfsinformatie door direct na detectie de systemen in te sluiten om vervolgens zowel over te gaan tot systeemherstel om bedrijfsprocessen te herstellen als tegelijkertijd het veiligstellen en analyseren van digitale (systeem) gegevens om de oorzaak en impact vast te stellen en melding te maken om te voldoen aan wet- en regelgeving.
                                                    <br>
                                                    <br>
                                                    Met Forcyd’s rapportage voor de Autoriteit Persoonsgegevens voldoet u aan uw meldingsplicht en weet u wie u verder moet inlichten. Daarnaast adviseren wij over vervolgonderzoek en hoe een dergelijk incident in de toekomst voorkomen kan worden.
                                                    </p>
                                                </div>

                                             
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">CYBERCRIMINALITEIT</h3>
                                                    <p class="">Met behulp van een breed scala aan technologieën en onderzoeksstrategieën kunnen we systeemkwetsbaarheden, inbraken en sporen van gegevensdiefstal identificeren. Op basis van de uitkomsten bevelen we passende en effectieve oplossingen aan om deze risico's te beperken en de beveiliging van uw IT-infrastructuur te verbeteren. 
                                                    <br>
                                                    <br>
                                                    In het geval van een datalek helpt ons onderzoeksteam u de oorzaak van de inbraak te achterhalen en te evalueren hoe u uw systeem kunt verbeteren om het te beschermen tegen toekomstige aanvallen.
                                                    <br>
                                                    <br>
                                                    We verzamelen en analyseren digitaal bewijsmateriaal uit een breed scala van bronnen om belangrijke informatie over een mogelijk incident te achterhalen om te bepalen waar en wanneer een incident plaatsvond, en hoe het zich voordeed.
                                                    </p>
                                                </div>


                                                <!--
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">TITLE</h3>
                                                    <p class="">text.
                                                    </p>
                                                </div>
                                                -->

                                                <!--
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">TITLE</h3>
                                                    <p class="">text.
                                                    </p>
                                                     <div class="margin-left = 10px">
                                                        <h4 class="normal bold bordered bordered-small">Title</h4>
                                                        <p class="">text.</p>
                                                    </div>
                                                </div>
                                                -->

                                            </div>  
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-4">
                                
                                        {% include "sidebar_contact.html" ignore missing %} 

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </article>
{% endblock %}
      