{% extends "layout.html" %}

{% block main %}
            <article>
                <section class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                
                                <header class="text-center element-tall-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">Digital Forensics</h1>
                                    <p class="lead">
                                        Veiligstelling en analyse van digitale gegevens, reconstructie van wachtwoorden en verwijderde bestanden, ontsluiting van bewijsmateriaal en presentatie van feiten.
                                    </p>
                                </header>

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">INFO</h3>
                                                    <p class="">Veiligstelling en analyse van digitale gegevens uit verschillende databronnen zoals computers, servers, mobiele apparaten en andere opslagmedia, toepassen van technieken om naar verluid verwijderde bestanden te reconstrueren, wachtwoorden te herstellen of elektronisch bewijsmateriaal te ontsluiten en het presenteren van een rapportage met feitelijke bevindingen.
                                                    <br>
                                                    <br>
                                                    Forcyd’s specialisten hebben jarenlange ervaring in het forensisch verantwoord omgaan met en verwerken van digitale gegevens. Wij ondersteunen u met de laatste technologieën en professionele software.
                                                    </p>
                                                </div>

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">VEILIGSTELLING VAN DATADRAGERS</h3>
                                                    <p class="">Om ervoor te zorgen dat gegevens voor de rechtbank worden geaccepteerd, moet deze worden veiliggesteld volgens forensische normen. Forcyd werkt alleen met de beste en gerenommeerde forensische software om de integriteit en betrouwbaarheid van het bewijsmateriaal te waarborgen. Tests en kwaliteitscontroles worden uitgevoerd om dit te verifiëren. Reproduceerbaarheid is gegarandeerd door de volledige documentatie van elke stap van het proces.</p>
                                                </div>

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">HERSTEL VAN VERWIJDERDE GEGEVENS EN WACHTWOORDEN</h3>
                                                    <p class="">Een veel voorkomende poging om vervolging te omzeilen is de vernietiging van bewijsmateriaal, verwijdering van relevante gegevens of bescherming door middel van encryptie. Bovendien maken onopzettelijk verwijderde gegevens het moeilijk om de feiten te verzamelen. Forcyd’s beschikt over de allernieuwste technologie om verwijderde gegevens te herstellen en te herstellen en kunnen daarom de reconstructie van bewijsmateriaal ondersteunen.
                                                    </p>
                                                </div>

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">MOBILE FORENSICS</h3>
                                                    <p class="">Mobiele telefoons en met name smartphones zijn een belangrijk bewijsstuk geworden in het onderzoek van vandaag. Enorme hoeveelheden informatie over de eigenaar en zijn activiteiten uit verschillende toepassingen worden opgeslagen. Als gevolg van het wijdverbreide en regelmatige gebruik van deze apparaten, kunnen ze van cruciaal belang zijn bij uw onderzoek. Het doel van forensisch onderzoek voor mobiele telefoons is potentieel belangrijke informatie op een forensisch verantwoorde manier terug te winnen om een consistente en volledige analyse te garanderen.
                                                    </p>
                                                </div>

                                                <!--
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">TITLE</h3>
                                                    <p class="">text.
                                                    </p>
                                                </div>
                                                -->

                                                <!--
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">TITLE</h3>
                                                    <p class="">text.
                                                    </p>
                                                     <div class="margin-left = 10px">
                                                        <h4 class="normal bold bordered bordered-small">Title</h4>
                                                        <p class="">text.</p>
                                                    </div>
                                                </div>
                                                -->
                                       
                                            </div>  
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-4">
                                
                                        {% include "sidebar_contact.html" ignore missing %} 

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </article>
{% endblock %}
      