{% extends "layout.html" %}

{% block main %}
            <article>
                <section class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-12 text-center">
                                
                                <header class="text-center element-normal-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">Disclaimer</h1>
                                </header>
                            

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">TERMS AND CONDITIONS</h3>
                                    <p class="">Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Forcyd BV’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use this website.</p>
                                </div>

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">DISCLAIMER</h3>
                                    <p class="">The information contained in this website is for general information purposes only. The information is provided by Forcyd BV and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
                                    <br>
                                    In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
                                </div>

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">AVAILABILITY</h3>
                                    <p class="">Every effort is made to keep the website up and running smoothly. However, Forcyd BV takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
                                </div>

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">LINKS</h3>
                                    <p class="">Through this website you are able to link to other websites which are not under the control of Forcyd BV. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
                                </div>

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">SECURITY OF DATA TRANSFER</h3>
                                    <p class="">Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Forcyd BV’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use this website.</p>
                                </div>

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">TERMS AND CONDITIONS</h3>
                                    <p class="">Users contacting this website and/or its owners do so at their own discretion and provide any such personal details requested at their own risk. Your personal information is kept private and stored securely until a time it is no longer required or has no use. Every effort has been made to ensure a safe and secure “form to email” submission process, but users are advised that using such a “form to email” processes, is at their own risk.</p>
                                </div>                                                                                                                            

                                <div class="element-medium-top element-medium-bottom text-left">
                                    <h3 class="normal bold bordered bordered-small ">PRIVACY AND DATA PROTECTION POLICY</h3>
                                    <p class="">The following paragraphs explain how your personal data will be treated. This policy may be updated from time to time and we therefore recommend visiting our homepage on a regular basis.</p>
                                    <br>
                                    
                                    <h4 class="normal bold bordered bordered-small ">HOW WE HANDLE YOUR PERSONAL DATA</h4>
                                    <p class="">Forcyd BV is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with data protection laws.</p>
                                    <br>
                                    
                                    <h4 class="normal bold bordered bordered-small ">COLLECTION OF PERSONAL DATA</h4>
                                    <p class="">Forcyd BV is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with data protection laws.</p>
                                    <br>
                                    
                                    <h4 class="normal bold bordered bordered-small ">HOW WE HANDLE YOUR PERSONAL DATA</h4>
                                    <p class="">We may collect personal data from you when you register for our newsletters, seminars or communicate with Forcyd BV and its employees in any other way (email, in-person, over the phone etc.). The information we collect includes, but is not limited to, name, address, phone number, email address and other information shared with Forcyd BV.
                                    <br>
                                    Where you provide us with any personal data of third parties, you confirm that you have obtained all necessary consents to do so and that we may collect and use such personal data for the purposes set out below.
                                    </p>
                                    <br>

                                    <h4 class="normal bold bordered bordered-small ">USE OF PERSONAL DATA</h4>
                                    <p class="">We may use personal data collected from you for the purpose of providing our services to you and informing you from time to time about our services and important updates from Forcyd BV. We do not disclose your data to third parties, except to affiliated companies which are part of Forcyd BV.</p>
                                    <br>                                                                      

                                    <h4 class="normal bold bordered bordered-small ">ACCESS, CORRECT OR DELETE YOUR PERSONAL DATA</h4>
                                    <p class="">You are entitled at any point of time and free of charge to:
                                    <ul>
                                        <li>Request a copy of the personal data we hold about you;</li>
                                        <li>Request for your personal data to be updated or corrected if the information is inaccurate or incomplete;</li>
                                        <li>Withdraw consent to collect and use your personal data; </li>
                                        <li>Delete the personal data we hold about you.</li>
                                    </ul>
                                    <br>
                                    If you wish to exercise any of the above rights, please contact our Data Protection Officer at info@forcyd.nl. We will respond to you as soon as possible.
                                    </p>
                                    <br> 

                                    <h4 class="normal bold bordered bordered-small ">GOOGLE ANALYTICS</h4>
                                    <p class="">This website uses Google Analytics to help analyse how users use the site.
                                    <br>
                                    Please visit <a href="https://policies.google.com/technologies/partner-sites">https://policies.google.com/technologies/partner-sites</a> to learn how Google uses information from sites or apps that use its services.
                                    </p>
                                    <br>   

                                    <h4 class="normal bold bordered bordered-small ">COPYRIGHT NOTICE</h4>
                                    <p class="">This website and its content is copyright of Forcyd BV. All rights reserved. Any redistribution or reproduction of part or all of the contents in any form is prohibited. You may not, except with our written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</p>
                                    <br>   

                                </div>  
                            </div>
                        </div>
                    </div>
                </section>
            </article>
{% endblock %}
      