{% extends "layout.html" %}

{% block main %}
            <article>
                <section class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <header class="text-center element-tall-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">eDiscovery</h1>
                                    <p class="lead">
                                        Identificatie, veiligstellen, verwerking, toepassing van geavanceerde analytics, review en productie van elektronisch opgeslagen data, ongestructureerd en gestructureerd.
                                    </p>
                                </header>

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">INFO</h3>
                                                    <p class="">Het proces van identificatie, veiligstelling, verwerking, review en productie van elektronisch opgeslagen data, grote hoeveelheden ongestructureerde en gestructureerde data omzetten naar leesbare en geclassificeerde data om relevante informatie te ontsluiten met behulp van geavanceerde analytics technieken en te presenteren als bewijs dat voldoet aan wet- en regelgeving.
                                                    <br>
                                                    <br>
                                                    Forcyd begeleidt u door de hele levenscyclus van eDiscovery. Van identificatie tot productie en projectmanagement, onze gecertificeerde specialisten helpen u bij het navigeren door de complexiteit en uitdagingen in uw eDiscovery projecten.
                                                    </p>
                                                </div>
                                                
                                                
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">ONLINE REVIEW EN HOSTING</h3>
                                                    <p class="">Forcyd biedt een eenvoudig te gebruiken en flexibel web gebaseerd reviewplatform. Met dit platform kunnen wij complexe en zeer grote projecten hosten en internationaal toegang tot de gegevens bieden. Met de flexibele en intuïtieve gebruikersinterface is deze applicatie geschikt voor alle review vereisten. Ongeacht het volume kunnen documenten snel worden verwerkt en naar het platform worden geüpload, zodat u (bijna) direct kunt beginnen met de review. Met dit toonaangevende platform kunnen we u de volgende functionaliteit en voordelen bieden:
                                                    </p>
                                                    <ul>
                                                        <li>Volledige aanpassing van de projectwerkruimte</li>
                                                        <li>Optimalisatie en versnelling van het beoordelingsproces door automatisering</li>
                                                        <li>Verhoogde kwaliteit door vooraf gedefinieerde integriteitscontroles</li>
                                                        <li>Complete en consistente audit trails</li>
                                                        <li>Door computer ondersteunde beoordeling op basis van machine learning</li>
                                                    </ul>
                                                    <p>
                                                    Onze dienstverlening omvat alle onderdelen in het eDiscovery proces, startend bij de identificatie tot aan de productie van de relevante data aan onze klanten.
                                                    </p>
                                                </div>
                                                   
                                                
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">IDENTIFICATIE</h3>
                                                    <p class="">Er is een groot aantal potentiële datadragers. PC’s, laptops, server, cd / dvd, diskettestations, usb-sticks, smartphones en afgedrukte documenten zijn slechts enkele voorbeelden van potentiële datadragers. Nog complexer is dat bijna elke IT-infrastructuur enigszins anders is opgezet. De meeste bedrijven en zeer vaak zelfs gelieerde dochterondernemingen, inclusief andere bedrijfstakken, hebben hun eigen configuraties voor servers, besturingssystemen, applicaties en back-up oplossingen. Onze expertise helpt u om de relevante datadragers te identificeren zodat u volledig bent in het vervolg van uw onderzoek.
                                                    </p>
                                                </div>


                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">VEILIGSTELLING</h3>
                                                    <p class="">Na de identificatie van alle relevante gegevensbronnen en media, moeten de gegevens worden veiliggesteld. Voorwaarde voor een effectieve en efficiënte afhandeling van dit proces is een nauwkeurig uitgewerkt verzamelplan. Datadragers worden daarom geprioriteerd op basis van hun relevantie.
                                                    <br>
                                                    <br>
                                                    Tegenwoordig zijn bijna alle zakelijke administratieve processen IT-gebaseerd en worden ze elektronisch beheerd. Daarom kan de verzameling van enkele honderden gigabytes of terabytes noodzakelijk worden met het risico van een impact op uw bedrijfsvoering. 
                                                    Afgezien van de technische behandeling van enorme datavolumes, zorgen wij ervoor dat data beveiliging en bescherming altijd bovenaan staan, om elke inbreuk op persoonlijke en/of privacy gevoelige informatie of de openbaarmaking van bedrijfsrelevante gegevens te voorkomen.
                                                    <br>
                                                    <br>
                                                    Vooral in geschillen aan het hof is de bruikbaarheid van digitaal bewijs een van de belangrijkste aspecten. Om ervoor te zorgen dat de gegevens niet voor de rechtbank betwistbaar zijn, moeten gegevens op een forensisch en juridisch verantwoorde wijze worden verzameld en gedocumenteerd. Om dit te doen, wordt elke stap en alle gegevens gedocumenteerd en geverifieerd.
                                                    </p>
                                                </div>

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">ONTSLUITING</h3>
                                                    <p class="">De grote hoeveelheid aan data brengt ook een groot aantal verschillende gegevensformaten, die moeten worden afgehandeld. Om ervoor te zorgen dat alle relevante gegevens worden beoordeeld, passen wij de juiste technieken en procedures toe en zorgen we ervoor dat de juiste hulpmiddelen worden gecombineerd en geïmplementeerd. We hebben het proces geoptimaliseerd en door uitsluiting van irrelevante gegevens, zoals bestanden van besturingssystemen, en de-duplicatie van de gegeven set kunt u zich concentreren op de belangrijkste gegevens.
                                                    </p>
                                                </div>

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">BEOORDELING EN ANALYSE</h3>
                                                    <p class="">Elke review wordt uitgevoerd volgens de specifieke eisen van de klant of projecten. Aspecten zoals toegangsrechten en nationale of internationale wetgeving inzake gegevensbescherming worden hierin meegenomen. Het succes en de efficiëntie van een project hangt ook af van de juiste selectie en combinatie van de gebruikte hulpmiddelen. Om het besluitvormingsproces te ondersteunen en te vergemakkelijken, houden we rekening met verschillende leidende vragen, zoals: 
                                                    </p>
                                                    <ul>
                                                        <li>Wat is het feitelijke startpunt en waar zijn we naar op zoek?</li>
                                                        <li>Wat zal er wel en niet aan de wederpartij getoond worden?</li>
                                                        <li>enz.</li>
                                                    </ul>
                                                    <p>
                                                    Al deze voorbeelden zijn belangrijke vragen om een kwalitatief goed resultaat te bereiken. De training van reviewers of consultants in onze systemen is van het grootste belang om ervoor te zorgen dat informatie kan worden gevonden, geanalyseerd en correct geïnterpreteerd.
                                                    </p>
                                                </div>

                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">PRODUCTIE</h3>
                                                    <p class="">Na de review en analyse van de data zullen de relevant bevonden stukken in een productie opgeleverd worden. Dit kan afhankelijk van de wensen volledig digitaal aangeleverd worden en aansluiten op de wensen en voorwaarden van de klant of toezichthouder. Producties kunnen zo worden aangeleverd dat deze direct in te laden zijn in de system van de wederpartij.
                                                    </p>
                                                </div>
                                                 
                                                <!--
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">TITLE</h3>
                                                    <p class="">text.
                                                    </p>
                                                </div>
                                                -->

                                                <!--
                                                <div class="element-medium-top element-medium-bottom text-left">
                                                    <h3 class="normal bold bordered bordered-small ">TITLE</h3>
                                                    <p class="">text.
                                                    </p>
                                                     <div class="margin-left = 10px">
                                                        <h4 class="normal bold bordered bordered-small">Title</h4>
                                                        <p class="">text.</p>
                                                    </div>
                                                </div>
                                                -->                                                   


                                            </div>  
                                        </div>
                                    </div>
                                
                                    <div class="col-sm-4">
                                
                                        {% include "sidebar_contact.html" ignore missing %} 

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </article>
{% endblock %}
      