{% extends "layout.html" %}

{% block main %}
            <article>
                <section class="section swatch-black section-text-shadow section-inner-shadow">
                    <div class="background-media" style="background-image: url('/static/assets/images/uploads/home-intro.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50%;" data-start="background-position:50% 50%" data-70-top-bottom="background-position:50% 70%">
                    </div>
                    <div class="background-overlay grid-overlay-100 "></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <header class="element-tall-top element-normal-bottom condensed" data-start="opacity:1" data-center="opacity:1" data-100-top-bottom="opacity:0">
                                    <h1 class="super hairline bordered-normal">Wij <strong>geloven</strong> in digitale <strong>rechtvaardigheid</strong></h1>
                                </header>
                                <a href="/about_us/" class="scroll-to-id btn btn-link btn-lg element-no-top element-normal-bottom">lees verder</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="two" class="section swatch-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <header class="text-center element-tall-top element-no-bottom">
                                    <h1 class="bigger hairline bordered bordered-normal">Services</h1>
                                    <p class="lead">
                                        We creëren een uniek proces voor elke klant om ervoor te zorgen dat bedrijfsdoelstellingen worden bereikt, dat er succes wordt behaald en dat gebruikers tevreden zijn.
                                    </p>
                                </header>
                                <div class="row">
                                    <div class="col-sm-4 ">
                                        <div class="element-medium-top element-medium-bottom text-center">
                                            <div class="box box-round box-normal">
                                                <div class="box-dummy"></div>
                                                <a class="box-inner grid-overlay-30" href="/digital_forensics/" style="background-color:#ffffff;">
                                                    <img class="" src="/static/assets/images/icons/indicator-512.png" alt="a clock" />
                                                </a>
                                            </div>
                                            <h3 class="normal bold bordered bordered-small ">Digital Forensics</h3>
                                            <p class=""><strong>Veiligstelling</strong> en <strong>analyse</strong> van digitale gegevens, reconstructie van wachtwoorden en verwijderde bestanden, <strong>ontsluiting</strong> van bewijsmateriaal en presentatie van feiten.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="element-medium-top element-medium-bottom text-center">
                                            <div class="box box-round box-normal">
                                                <div class="box-dummy"></div>
                                                <a class="box-inner grid-overlay-30" href="/e_discovery/" style="background-color:#ffffff;">
                                                    <img class="" src="/static/assets/images/icons/gift-512.png" alt="a gift" />
                                                </a>
                                            </div>
                                            <h3 class="normal bold bordered bordered-small ">eDiscovery</h3>
                                            <p class=""><strong>Identificatie</strong>, veiligstellen, verwerking, toepassing van <strong>geavanceerde analytics</strong>, review en productie van elektronisch opgeslagen data, <strong>ongestructureerd en gestructureerd</strong>. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="element-medium-top element-medium-bottom text-center">
                                            <div class="box box-round box-normal">
                                                <div class="box-dummy"></div>
                                                <a class="box-inner grid-overlay-30" href="/cyber_security/" style="background-color:#ffffff;">
                                                    <img class="" src="/static/assets/images/icons/lifebuoy-512.png" alt="a support" />
                                                </a>
                                            </div>
                                            <h3 class="normal bold bordered bordered-small ">Cyber Security</h3>
                                            <p class="">Snelle reactie op <strong>beveiligingsincidenten</strong> en <strong>datalekken</strong> om zowel bedrijfsprocessen te herstellen als veiligstelling en analyse van digitale gegevens en <strong>adequate rapportage</strong> waarmee kan worden voldaan aan wet- en regelgeving. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
{% endblock %}
      