<div class="element-medium-top element-medium-bottom text-left">
    <h3 class="normal bold bordered bordered-small ">CONTACT</h3>
    <p>Kunnen we u helpen of heeft u vragen?<br>Bel of mail ons gerust.</p>
    <!-- <p>Can we assist you or do you have any questions?<br>If so, simply call or email us.</p> -->
    <address>
        <strong>Adres</strong><br>
        Straat + Nummer<br>
        Postcode<br>
        PLAATS<br>
        <br>
        <strong>Telefoon</strong><br>
        +31 ### #######<br>
        <br>
        <strong>Email</strong><br>
        info@domain.nl<br>
        <br>
    </address>
</div>